li{
  list-style:none;
  display:inline-block;
  color:rgb(235, 229, 229);
  padding:50px;
  margin-top:0px;
  justify-content:center;
  
  
}
a{
  text-decoration: none;
  color:#FFF;
}
ul{
  margin-top:-30px;
  margin-left:200px;
  position:relative;
  
}
header{
  width:100%;
  background-color:rgb(85, 85, 190);
  height:90px;

}
input{
  color:black;
}
#tshirt{
  width:60px;
}
body{
  background-color: rgb(238, 236, 236);
}
nav ul li{
  color:rgb(54, 54, 197);
  margin-top:10px;
  font-size:15px;
  padding:0px;
  justify-content: space-between;
  margin-left: 190px;
}
nav{
  background-color:rgb(238, 236, 236);
  height:60px;
  margin-top:50px;
  position:relative;
  margin-left:-250px;
  
  
  
  
}

.bck{
  background-color:#FFF;
  position:absolute;;
  height:700px;
  border-radius: 10px;
  margin-top: 20px;
  margin-left:50px;
  width:1300px;
  
}
nav  ul input{
  margin-left:35px;
}
.chekboxes{
  margin:10px;
  margin-left:0px;
  justify-content: space-around;
  margin-top:90px;

  
}
.chekboxes input[type ='checkbox']{
  margin-bottom: 120px;
}
img{
  width:90px;
  margin-bottom:20px;
}
.img1{
  margin-left:60px;
  margin-top:30px;
}
h4{
  color:rgb(85, 85, 190);
  margin-left: 300px;
  margin-top: -140px;
  margin-bottom: -40px;
  padding:5px;
  
}
.firsth4{
  margin-top:65px;
}

.btn{
  margin-left:700px;
  margin-top:-40px;
}
.btn1{
  margin-left:617px;
  margin-top:-50px;
}
h5{
  margin-left:672px;
  margin-top:-0px;
  positioN:absolute;
  font-size:30px;
  color:rgb(85, 85, 190);
  
}
.btn2{
    margin-left:700px;
    margin-top:90px;
  
}
.btn3{
  margin-left:617px;
  margin-top:-50px;
}
.btn4{
  margin-left:700px;
  margin-top:90px;
}
.App button{
  cursor:pointer;
  color: rgb(85, 85, 190);
  border:none;
  width:50px;
  font-size:40px;
  background-color:rgb(255, 255, 255);
  positioN:relative;
}
h5{
  font-size: 25px;
  margin-left:669px;
  margin-top:5px;
}
.btn5{
  margin-left:617px;
  margin-top:-50px;
}
.App3 h5{
  margin-top:5px;
}
.btn6{
  margin-left:700px;
  margin-top:90px;
}
.btn7{
  margin-left:620px;
  margin-top:-50px;
}
.fasi{
  margin-left:900px;
  margin-top: -100px;
  font-size:30px;
}
.fasi h6:first-child{
  margin-top: -470px;
  padding: 40px;
  margin-left:-40px;
}
h6{
  margin-bottom:28px;

}
.jami{
  margin-left:1120px;
  margin-top: -100px;
  font-size:30px;
}
.jami h6:first-child{
  margin-top: -510px;
  padding: 40px;
  margin-left:-40px;
}
h6{
  margin-bottom:28px;

}
.general{
  margin-left: 1370px;
  background-color:#fff;
  width:300px;
  height:300px;
  border-radius:20px;
  margin-top:20px;
  
}
#txt{
  color:rgb(85, 85, 190);
  padding:15px;
  font-size:25px;
  font-weight:30px;
}
.general h6{
  color:grey;
  margin-left:10px;
  font-size:15px;
}
.general span{
  float:right;
  margin-right:20px;
  font-size:18px;
}
.general hr{
  color:rgb(85, 85, 190);
  height:-1px;
  width:270px;

}
.yidva button{
  background-color: rgb(42, 42, 128);
  color:#FFF;
  width:250px;
  border-radius: 5px;
  font-size:20px;
  margin:auto;
  display:block;
  justify-content:center;
  margin-top:13px;
  height:45px;
}
span{
 color:rgb(85, 85, 190);
}
 .yidva button:hover{
  background-color:#181717;
  transition-delay:0.1s;

}
.clean button{
  font-size:15px;
  margin-left:50px;
  background-color: rgb(42, 42, 128);
  color:#FFF;
  width:270px;
  border-radius: 5px;
  font-size:20px;
  justify-content:center;
  height:45px;
  margin-top:30px;
  
}
.clean button:hover{
  background-color:#181717;
  transition-delay:0.1s;
}
.App1 hr{
  margin-top: 20px;
  

}
.App hr{
  margin-top:28px;
}
.App2 hr{
  margin-top:5px;
}

